################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/et --hard HEAD@{13}
/DVLD_BUSINESS/bin/Debug
/DVLD_BUSINESS/obj
/DataAccess/bin/Debug/DataAccess.dll
/DataAccess/bin/Debug/DataAccess.pdb
/DataAccess/obj/Debug/DataAccess.dll
/DataAccess/.vs/DVLD.DataAccess.csproj.dtbcache.json
/DataAccess/bin/Debug/DataAccess.dll
/DataAccess/bin/Debug/DataAccess.pdb
/DataAccess/bin/Debug/DataAccess.dll
/DataAccess/bin/Debug/DataAccess.pdb
/DataAccess/obj/Debug/DataAccess.dll
/DataAccess/obj/Debug/DataAccess.pdb
/DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DataAccess/obj/Debug/DVLD.DataAccess.csproj.FileListAbsolute.txt
