################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/et --hard HEAD@{13}
/DVLD_BUSINESS/bin/Debug
/DVLD_BUSINESS/obj
